@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
.topHeader {
    background: white;
}
.feed {
    background: gray;
}
img {
    width: 50%;
    height: auto;
}